.container {
    width: 800px;
    font-size: 0;
    margin: auto;
}

.top{
	margin-top: 90px;
}

.box {
    position: relative;
    display: inline-block;
    border: 1px black solid;
}

/**
 *
 * Is it okay that I used class selectors together and then dwindled down?
 * Does that hender performance because it's still written for each class?
 *
 */


.blue, .green {
    width: 50%;
    height: 200px;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow, .black, .grey {
    width: 33.33%;
    height: 300px;
}

.yellow {
    background-color: orange;
}

.black {
    background-color: black;
}

.grey {
    background-color: grey;
}
