body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
img{
  width: 315px;
  padding: 15px;
}
.left{
  float: left;
  padding-left: 0px;
}
.right {
  float: right;
  padding-right: 0px;
}
