.body {
    margin: 0;
    padding: 0;
}

.nav-container {
    background-color: grey;
    padding-left: 60px;
}

nav img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 1px black solid;
    margin: 5px;
}

ul {
    display: inline-block;
    position: absolute;
    list-style: none;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 40px;
}

ul li {
    display: inline-block;
}

li::after {
    content: " | ";
}
